
myVote365/\.vscode/

myVote365/static/__PRIVATE__/

myVote365/media/qr-codes/

*.DS_Store

myVote365/*/__pycache__/

myVote365/static/python/__pycache__/

myVote365/.idea/

myvote365/db.sqlite3

myvote365/static/css/

terminy.pdf

PRIVATE/

myvote365/__pycache__/

python_env/lib/python3.7/importlib/__pycache__/

python_env/lib/python3.7/encodings/__pycache__/

python_env/lib/python3.7/collections/__pycache__/

python_env/lib/python3.7/__pycache__/

python_env/lib/python3.7/distutils/__pycache__/

index.php

run.sh
