
$color-main: #909090;
$color-dark: #565656;
$color-blue-1: #0091FF;
$color-green-1: #89CD00;
$color-green-2: #519E00;
$color-light-1: #E3E3E3;
$color-light-2: #ECEBEB;

$color-error-light: #CD0202; 
$color-error-dark: #630000;

$color-warning-1: #FFCC00;

$color-success-light: $color-green-1; 
$color-success-dark: $color-green-2; 