
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap&subset=latin-ext');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}