
@import 'variables';

body{

    background-color: $color-main;
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: auto 300px;
    grid-template-rows: auto 50px;
    grid-template-areas: 
        "main aside"
        "footer footer";
    width: 100%;
    height: 100%;

        &>main{
    
            grid-area: main;
            background-color: red;
            
        }

        &>aside{
    
            grid-area: aside;
            background-color: lightblue;
            padding: 20px;

            &>*{
                padding: 0;
                margin: 0;
                margin-bottom: 20px;
            }

            &>p,
            &>h1,
            &>h2{
                text-align: center;
                display: block;
                width: 100%;
            }

            &>p{
                font-weight: 300;
                font-size: 28px;
                text-shadow: 0 2px 4px rgba($color: #000000, $alpha: .5);
            }
            
            &>h1{
                font-weight: 400;
                font-size: 59px;
                text-shadow: 0 6px 12px rgba($color: #000000, $alpha: .5);
            }

            &>h2{
                font-weight: 500;
                font-size: 32px;
                text-shadow: 0 6px 12px rgba($color: #000000, $alpha: .5);
            }

            &>img{
                width: 100%;
            }
            
        }

        &>footer{
    
            grid-area: footer;
            background-color: green;
            
        }

}