
@import 'variables';

body{

    background: url('/static/img/planning-finance-business-presentation-businessman-sales-1584859-pxhere.com.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    width: 100% !important;
    height: 100% !important;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "main_header" "main" "footer";

    &>header#presentation_id_name{

        background-color: $color-light-1;
        color: $color-dark;
        font-size: 32px;
        padding: 10px;
        z-index: 3;
        grid-area: main_header;

    }

    &>main{
        
        z-index: 2;
        grid-area: main;

        &>article#user_vote{

            display: block;
            width: 100%;
            height: 100%;

            &>form{
                
                &>*{

                    margin: 10px;
                    padding: 10px;
                    font-size: 24px;
                    background-color: $color-light-2;
                    color: $color-dark;
                    border-radius: 10px;
                    overflow: hidden;


                }

                &>article#body{

                    margin-top: 50px;

                    &>header{

                        &>*{
                            display: block;
                        }

                        &>.slide-title{
                            // color: black;
                            letter-spacing: 2px;
                            font-weight: 500;
                        }

                        &>.hr{
                            background-color: $color-dark;
                            border: 2px solid $color-dark;
                        }

                    }

                    &>.answer{

                        // background-color: red;

                        &>[data-question-type=yesno]{

                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;
                            padding: 10px;

                            & > label{
                                
                                display: block;
                                background-color: grey;
                                padding: 20px;
                                margin: 10px;
                                width: 500px;
                                text-align: center;
                                border-radius: 10px;
                                color: $color-light-2;
                                transition: ease .4s box-shadow;

                                &[for=radio_yes_no__yes]{
                                    background-color: $color-green-2;
                                }

                                &[for=radio_yes_no__no]{
                                    background-color: $color-error-dark;
                                }

                            }

                            & > #radio_yes_no__yes:checked ~ label[for=radio_yes_no__yes]{
                                // color: green;
                                // border: 2px solid $color-green-1;
                                box-shadow: 0 0 10px 2px $color-green-1;
                                transition: ease .2s box-shadow;
                            }

                            & > #radio_yes_no__no:checked ~ label[for=radio_yes_no__no]{
                                // color: red;
                                // border: 2px solid $color-error-light;
                                box-shadow: 0 0 10px 2px $color-error-light;
                                transition: ease .2s box-shadow;
                            }
                            
                        }

                        &>[data-question-type=slider_1to5]{

                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;
                            padding: 10px;

                            &>*{
                                display: block;
                                width: 100%;
                                margin: 10px;
                            }

                            &>#slider_1to5_slider{

                                background-color: $color-dark;
                                border-radius: 10px;

                                &>span{

                                    background-color: $color-green-1;
                                    font-size: 32px;
                                    text-align: center;
                                    border-radius: 999px;

                                }

                            }

                            &>#slider_1to5_labels{
                                display: flex;
                                flex-wrap: nowrap;
                                justify-content: space-between;
                            }
                            
                        }

                        &>[data-question-type=text]{

                            padding: 10px;

                            &>textarea{
                                display: block;
                                width: 100%;
                                max-width: 100%;
                                min-width: 100%;
                                background-color: rgba($color: $color-main, $alpha: .3);
                                color: $color-dark;
                                padding: 10px;
                                font-size: 24px;
                            }

                        }
                    }

                    &>.meta{

                        display: block;
                        // background-color: green;
                        font-size: 12px;
                        text-align: right;

                    }

                }

                &>article[for=submit]{
                    
                    height: 50px;
                    padding: 0;
                    transition: ease box-shadow .6s;

                    &:active{

                        box-shadow: 2px 2px 10px -2px black;
                        transition: ease box-shadow .1s;

                    }

                    &>label{

                        display: block;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        padding: 10px;
                        cursor: pointer;

                    }

                    &[data-input-disabled=true]{

                        background-color: $color-dark;

                        &:active{

                            box-shadow: none;

                        }

                        &>label{

                            display: block;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            padding: 10px;
                            color: $color-main;
                            cursor: no-drop;

                        }

                    }

                }

            }

        }

    }

    &>footer{

        background-color: $color-dark;
        color: $color-light-1;
        font-size: 18px;
        padding: 10px;
        z-index: 1;
        grid-area: footer;

    }

}